body {
    background-color: rgb(107, 107, 145);
}

.titulo {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(29, 6, 51);
}

.jogo{
    border: solid black 4px;
    height: 80vh;
    width: 50vw;
    margin: auto;
}

.celula{
    border: solid black 2px;
    font-size: 50pt;
    height: 30%;
    padding: 10px;
    text-align: center;
    width: 30%;
}

